#para{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-size: 2rem;
    color: white;
}
body{
    background-color: #0dc5fd;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-top: 150px;
    
}